<mat-card class="card">
  <mat-card-header>
    <mat-card-title><h1>書籍登録</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field class="field-big">
        <mat-label>書籍名</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field-big">
        <mat-label>あらすじ</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field-small">
        <mat-label>評価点</mat-label>
        <input matInput type="number">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary">追加</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>アンドロイドは電気羊の夢を見るか?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>第三次大戦後の未来、サンフランシスコを舞台に賞金稼ぎのリック・デッカードが火星から逃亡してきた8体のアンドロイドを「処理」するというあらすじ</p>
    <p>評価: 90点</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn">削除</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>岩田さん: 岩田聡はこんなことを話していた。</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>任天堂の元社長、岩田聡さんのことばをまとめた本</p>
    <p>評価: 90点</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn">削除</button>
  </mat-card-actions>
</mat-card>
